---
import '../styles.css';
import { createSignal, onCleanup } from "solid-js";
---
<html lang="en">
<head>	
	<meta charset="utf-8" />
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Doppleruv efekt</title>		
</head>
<body>	
	<header>
    	Doppleruv efekt
  	</header>		
	<nav>
    <p>Sinus Wave SoundPlayer:</p>
			<button onclick="playSineWave440hz()">Play sine wave 440 hz frequency</button>
		<script src="../components/audiosin.js"></script>
	
  	</nav>	
</body>
</html>
