---
//import '../components/script.js'
---

<aside class="left-panel">
    <div class="left-panel-content">
        <main>	
            <h1>Doppleruv efekt</h1>
        </main>
        <h2>Nastaveni</h2>
        <label for="Frekvence">Frekvence:</label>
        <input type="number" id="input1" placeholder="Hz">

        <label for="Cas">Čas:</label>
        <input type="number" id="input2" placeholder="Sekundy">

        <label for="Rychlost">Rychlost:</label>
        <input type="number" id="input3" placeholder="Km">
        <button id="leftPanelButton">Potvrdit</button>
        <label for="selectField">Pozice pozorovatele:</label>
        <select id="selectField">
        <option value="option1">Pred</option>
        <option value="option2">Pri</option>
        <option value="option3">Za</option>
        </select>
        <!-- Add additional settings or content as needed -->
    </div>
  </aside>
  