---
import { onCleanup } from "solid-js";
---

<script>
  let audioContext;
  let oscillator;
  let frequencyInput = 440;

  function startSound() {
    audioContext = new (window.AudioContext || window.webkitAudioContext)();
    oscillator = audioContext.createOscillator();
    oscillator.type = 'sine';
    oscillator.frequency.setValueAtTime(frequencyInput, audioContext.currentTime);
    oscillator.connect(audioContext.destination);
    oscillator.start();
  }

  function stopSound() {
    if (oscillator) {
      oscillator.stop();
      oscillator.disconnect();
    }
  }

  function handleFrequencyChange() {
    if (oscillator) {
      oscillator.frequency.setValueAtTime(frequencyInput, audioContext.currentTime);
    }
  }

  onCleanup(() => {
    stopSound();
  });
</script>

<style>
  input {
    margin-right: 10px;
  }
</style>

<div>
  <h1>Web Audio API Sine Wave Player</h1>
  <label for="frequencyInput">Frequency:</label>
  <input type="number" id="frequencyInput" bind:value={frequencyInput} on:input={handleFrequencyChange} />
  <button on:click={startSound}>Play</button>
  <button on:click={stopSound}>Stop</button>
</div>
