/* styles.css */

body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: darkred;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
  }

  nav {
    background-color: #4589e2;
    color: rgb(255, 255, 255);
    padding: 30px;
    width: 400px;
  }

  h2 {
    font-size: 28px; /* Adjust the font size for your preferred size */
  }

  canvas {
    display: block;
    margin: 20px auto; /* Adjust the margin for your preferred position */
    margin-right: 600px; /* Add a margin to move the canvas to the right */
  }
  